@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Poppins', sans-serif; }

h1 {
  color: #34313D;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px; }
  @media screen and (max-width: 576px) {
    h1 {
      font-size: 42px;
      line-height: 48px;
      letter-spacing: -1.05px;
      text-align: center; } }

h2 {
  color: #34313D;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px; }
  @media screen and (max-width: 576px) {
    h2 {
      font-size: 28px;
      letter-spacing: -0.7px;
      text-align: center; } }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 32px; }

.section {
  background-color: #FFFFFF; }
  .section:nth-child(even) {
    background-color: #f2f2f2; }

.sub-text {
  color: #9E9AA8;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.12px; }
  @media screen and (max-width: 576px) {
    .sub-text {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.11px;
      text-align: center; } }

.btn {
  border: none;
  outline: none;
  padding: 8px 24px;
  background-color: #2BD0D0;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in; }
  .btn__primary-rounded {
    border-radius: 28px;
    padding: 12px 40px; }
  .btn__primary {
    border-radius: 10px;
    padding: 16px 40px; }
  .btn:hover {
    background-color: #9AE3E3; }

.mobile {
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden; }
  .mobile__inner {
    background-color: #3A3054;
    border-radius: 10px;
    padding: 40px 24px; }
  .mobile__links {
    margin-bottom: 30px;
    text-align: center; }
    .mobile__links a {
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold; }
  .mobile__separator {
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    margin-bottom: 30px; }
  .mobile button {
    width: 100%;
    display: block; }

.shortener-form {
  background-color: #3A3054;
  border-radius: 10px;
  padding: 24px;
  position: relative;
  margin-bottom: -80px; }
  @media (min-width: 768px) {
    .shortener-form {
      padding: 52px 64px; } }
  .shortener-form .shortener__inner {
    background-color: #3A3054;
    background-image: url(./../../images/bg-boost-mobile.svg);
    background-size: cover; }
  .shortener-form .url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A3054; }
    @media (min-width: 768px) {
      .shortener-form .url-form {
        flex-direction: row;
        gap: 24px; } }
  .shortener-form .form-control {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 768px) {
      .shortener-form .form-control {
        flex: 1; } }
    .shortener-form .form-control input[type="text"] {
      border: none;
      border: 1px solid #979797;
      border-radius: 5px;
      font-family: inherit;
      font-size: 16px;
      height: 48px;
      line-height: 36px;
      letter-spacing: 0.12px;
      margin-bottom: 16px;
      padding: 16px;
      display: block;
      width: 100%; }
      @media (min-width: 768px) {
        .shortener-form .form-control input[type="text"] {
          margin-bottom: 0;
          height: auto; } }
    .shortener-form .form-control .js-input-error {
      display: none;
      color: #F46363;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08px;
      position: relative;
      top: -12px; }
  .shortener-form .shortener__btn {
    border-radius: 5px;
    height: 48px;
    padding: 0; }
    @media (min-width: 768px) {
      .shortener-form .shortener__btn {
        padding: 18px 40px;
        height: auto; } }

@media (min-width: 1200px) {
  .feature-card__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 72px; } }

.feature-card__wrapper .feature-card {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 77px 32px 40px;
  text-align: center;
  margin-bottom: 92px;
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) {
    .feature-card__wrapper .feature-card {
      width: 350px;
      margin: 0 auto 92px; } }
  @media (min-width: 1200px) {
    .feature-card__wrapper .feature-card {
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .feature-card__wrapper .feature-card:nth-child(2) {
      transform: translateY(44px); } }
  @media (min-width: 1200px) {
    .feature-card__wrapper .feature-card:nth-child(3) {
      transform: translateY(88px); } }
  .feature-card__wrapper .feature-card:first-child::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: #2BD0D0;
    height: 500px;
    z-index: 1;
    transform: translate(-4px, 40px); }
    @media (min-width: 1200px) {
      .feature-card__wrapper .feature-card:first-child::after {
        right: -254px;
        transform: rotate(90deg);
        top: -90px;
        z-index: -40; } }
  .feature-card__wrapper .feature-card .icon-wrapper {
    display: grid;
    place-items: center;
    background-color: #3A3054;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 1200px) {
      .feature-card__wrapper .feature-card .icon-wrapper {
        left: 72px; } }
  .feature-card__wrapper .feature-card h3 {
    color: #34313D;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px; }
    @media (min-width: 1200px) {
      .feature-card__wrapper .feature-card h3 {
        text-align: left; } }
  .feature-card__wrapper .feature-card p {
    color: #9E9AA8;
    font-size: 15px;
    line-height: 26px;
    text-align: center; }
    @media (min-width: 1200px) {
      .feature-card__wrapper .feature-card p {
        text-align: left; } }

.header {
  margin-bottom: 68px; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px; }
  .header__logo {
    color: #34313D;
    margin-right: 45px;
    width: 120px;
    height: 32px; }
  .header .burger__menu {
    display: flex;
    justify-content: center;
    cursor: pointer; }
    @media (min-width: 768px) {
      .header .burger__menu {
        display: none; } }
    .header .burger__menu .line {
      background-color: #9E9AA8;
      height: 3px;
      width: 24px;
      position: relative; }
      .header .burger__menu .line::before, .header .burger__menu .line::after {
        content: '';
        position: absolute;
        background-color: #9E9AA8;
        display: block;
        height: 3px;
        width: 24px; }
      .header .burger__menu .line::before {
        top: -8px; }
      .header .burger__menu .line::after {
        top: 8px; }
  .header__desktop {
    display: flex;
    align-items: center;
    flex: 1; }
    @media (max-width: 768px) {
      .header__desktop {
        display: none; } }
    .header__desktop ul {
      display: flex;
      color: inherit; }
      .header__desktop ul:first-of-type {
        margin-right: auto; }
  .header__desktop-nav li a {
    color: #9E9AA8;
    margin-right: 28px;
    transition: 0.2s ease-in; }
    .header__desktop-nav li a:hover {
      color: #34313D; }
  .header__desktop-cta {
    display: flex;
    align-items: center; }
    .header__desktop-cta a {
      color: #9E9AA8;
      transition: 0.2s ease-in; }
      .header__desktop-cta a:hover {
        color: #34313D; }
    .header__desktop-cta button {
      font-size: 15px;
      margin-left: 38px;
      width: 105px;
      height: 40px;
      padding: 0; }

.hero {
  position: relative; }
  .hero__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: 88px; }
    @media (min-width: 1200px) {
      .hero__inner {
        flex-direction: row;
        justify-content: start; } }
  .hero__illustration {
    margin-bottom: 60px;
    z-index: 4; }
  .hero__illustration-bg {
    position: absolute;
    right: 0;
    z-index: 2;
    top: -50px; }
  .hero__content h1 {
    margin-bottom: 15px; }
  .hero__content p {
    margin-bottom: 32px; }
  .hero__content button {
    display: block;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .hero__content h1 {
      text-align: center;
      font-size: 64px; }
    .hero__content p {
      text-align: center;
      width: 540px;
      margin: 0 auto 38px; } }
  @media (min-width: 1200px) {
    .hero__content h1 {
      text-align: left;
      width: 565px; }
    .hero__content p {
      text-align: left;
      width: 540px; }
    .hero__content button {
      display: initial; } }

.statistics {
  background-color: #f2f2f2;
  padding: 160px 0 80px; }
  .statistics__content {
    margin-bottom: 92px; }
    @media (min-width: 768px) {
      .statistics__content {
        text-align: center; }
        .statistics__content h2 {
          margin-bottom: 18px; }
        .statistics__content p {
          width: 540px;
          margin: 0 auto; } }

.boost {
  background-color: #3A3054;
  background-image: url(./../../images/bg-boost-mobile.svg);
  background-size: cover;
  padding: 90px 36px;
  text-align: center; }
  .boost__inner h3 {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.7px;
    margin-bottom: 16px; }

.footer {
  background-color: #232127;
  padding: 56px 0 54px; }
  @media (min-width: 768px) {
    .footer__inner {
      display: flex;
      justify-content: flex-start;
      gap: 30px; } }
  .footer__logo {
    filter: invert(1);
    margin: 0 auto 50px;
    display: block; }
    @media (min-width: 768px) {
      .footer__logo {
        margin: 0 auto 0 0;
        height: 32px;
        width: 120px; } }
  .footer__nav {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .footer__nav {
        text-align: left;
        padding-right: 32px;
        min-width: 102px; } }
    .footer__nav h4 {
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.25px;
      text-align: center;
      margin-bottom: 22px; }
      @media (min-width: 768px) {
        .footer__nav h4 {
          text-align: left; } }
    .footer__nav li {
      text-align: center;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .footer__nav li {
          text-align: left; } }
  .footer__links {
    color: #BFBFBF;
    font-size: 15px;
    letter-spacing: -0.23px;
    text-align: center; }
  .footer__icons {
    display: flex;
    gap: 24px;
    justify-content: center; }
  .footer__nav-list {
    min-width: 103px; }
