@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*,
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: $black;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  @media screen and (max-width: 576px){
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1.05px;
    text-align: center;
  }
}

h2 {
  color: $black;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  @media screen and (max-width: 576px){
    font-size: 28px;
    letter-spacing: -0.7px;
    text-align: center;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 32px;
}

.section {
  background-color: $white;
  &:nth-child(even) {
    background-color: $off-white;
  }
}

.sub-text {
  color: $grey-dark;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.12px;
  @media screen and (max-width: 576px){
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.11px;
    text-align: center;
  }
}