  // BUTTON
.btn {
  border: none;
  outline: none;
  padding: 8px 24px;
  background-color: $primary;
  color: $white;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &__primary-rounded {
    border-radius: 28px;
    padding: 12px 40px;
  }
  &__primary {
    border-radius: 10px;
    padding: 16px 40px;
  }
  &:hover {
    background-color: $primary-light;
  }
}

// MOBILE NAV
.mobile {
  position: absolute;
  top: 96px;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  &__inner {
    background-color: $purple-dark;
    border-radius: 10px;
    padding: 40px 24px;
  }
  &__links {
    margin-bottom: 30px;
    text-align: center;
    a {
      color: $white;
      font-size: 18px;
      font-weight: bold;
    }
  }
  &__separator {
    width: 100%;
    height: 1px;
    background-color: $white;
    margin-bottom: 30px;
  }
  button {
    width: 100%;
    display: block;
  }
}

// URL FORM
.shortener-form {
  background-color: $purple-dark;
  border-radius: 10px;
  padding: 24px;
  position: relative;
  margin-bottom: -80px;
  @media(min-width: $tablet) {
    padding: 52px 64px;
  }
  .shortener__inner {
    background-color: #3A3054;
    background-image: url(./../../images/bg-boost-mobile.svg);
    background-size: cover;
  }
  .url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3A3054;
    @media(min-width: $tablet) {
      flex-direction: row;
      gap: 24px;
    }
  }
  .form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: $tablet) {
      flex: 1;
    }
    input[type="text"] {
      border: none;
      border: 1px solid #979797;
      border-radius: 5px;
      font-family: inherit;
      font-size: 16px;
      height: 48px;
      line-height: 36px;
      letter-spacing: 0.12px;
      margin-bottom: 16px;
      padding: 16px;
      display: block;
      width: 100%;
      @media(min-width: $tablet) {
        margin-bottom: 0;
        height: auto;
      }
    }
    .js-input-error {
      display: none;
      color: #F46363;
      font-style: italic;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.08px;
      position: relative;
      top: -12px;
    }
  }
  .shortener__btn {
    border-radius: 5px;
    height: 48px;
    padding: 0;
    @media(min-width: $tablet) {
      padding: 18px 40px;
      height: auto;
    }
  }
}

// FEATURE CARDS
.feature-card__wrapper {
  @media(min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 72px;
  }
  .feature-card {
    background-color: $white;
    border-radius: 5px;
    padding: 77px 32px 40px;
    text-align: center;
    margin-bottom: 92px;
    position: relative;
    z-index: 2;
    @media(min-width: $tablet) {
      width: 350px;
      margin: 0 auto 92px;
    }
    @media(min-width: $desktop) {
      margin: 0 auto;
    }
    &:nth-child(2){
      @media(min-width: $desktop) {
        transform: translateY(44px);
      }
    }
    &:nth-child(3){
      @media(min-width: $desktop) {
        transform: translateY(88px);
      }
    }
    &:first-child {
      &::after {
        content: '';
        position: absolute;
        width: 8px;
        background-color: #2BD0D0;
        height: 500px;
        z-index: 1;
        transform: translate(-4px, 40px);
        @media(min-width: $desktop) {
          right: -254px;
          transform: rotate(90deg);
          top: -90px;
          z-index: -40;
        }
      }
    }
    .icon-wrapper {
      display: grid;
      place-items: center;
      background-color: $purple-dark;
      border-radius: 50%;
      height: 88px;
      width: 88px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      @media(min-width: $desktop) {
        left: 72px;
      }
    }
    h3 {
      color: $black;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 12px;
      @media(min-width: $desktop) {
        text-align: left;
      }
    }
    p {
      color: $grey-dark;
      font-size: 15px;
      line-height: 26px;
      text-align: center;
      @media(min-width: $desktop) {
        text-align: left;
      }
    }
  } 
}