// Colors
$black: #34313D;
$white: #FFFFFF;
$red: #F46363;
$off-white: #f2f2f2;
$primary: #2BD0D0;
$primary-light: #9AE3E3;
$purple-light: #4B3F6B;
$purple-dark: #3A3054;
$grey-light: #EFF1F7;
$grey-dark: #9E9AA8;

// Media
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;
$max-width: 1180px;