.footer {
  background-color: #232127;
  padding: 56px 0 54px;
  &__inner {
    @media(min-width: $tablet) {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
    }
  }
  &__logo {
    filter: invert(1);
    margin: 0 auto 50px;
    display: block;
    @media (min-width: $tablet) {
      margin: 0 auto 0 0;
      height: 32px;
      width: 120px;
    }
  }
  &__nav {
    margin-bottom: 40px;
    @media (min-width: $tablet) {
      text-align: left;
      padding-right: 32px;
      min-width: 102px;
    }
    @media (min-width: $desktop) {
    }
    h4 {
      color: $white;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.25px;
      text-align: center;
      margin-bottom: 22px;
      @media (min-width: $tablet) {
        text-align: left;
      }
    }
    li {
      text-align: center;
      margin-bottom: 10px;
      @media (min-width: $tablet) {
        text-align: left;
      }
    }
  }
  &__links {
    color: #BFBFBF;
    font-size: 15px;
    letter-spacing: -0.23px;
    text-align: center;
  }
  &__icons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  &__nav-list {
    min-width: 103px;
  }
}